@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  
  color: #213547;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #1e40af; 
  text-decoration: none;
  transition: color 0.2s ease;
}
a:hover {
  color: #2563eb; 
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5; 
  color: #213547;
}


h1, h2, h3 {
  margin: 0.5em 0;
  font-weight: 600;
}

/* Кнопки */
button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2563eb; 
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #1e40af; 
}
button:focus,
button:focus-visible {
  outline: 3px solid #93c5fd; 
}

/* Навигация */
nav {
  display: flex;
  gap: 1.5rem;
  background-color: #1e40af; 
  padding: 1rem;
}
nav a {
  color: white;
}
nav a:hover {
  color: #facc15; 
}
